<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.pauloceami.cursoappvendas.versaofinal">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="br.com.pauloceami.cursoappvendas.versaofinal.Principal.Principal">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="br.com.pauloceami.cursoappvendas.versaofinal.Controllers.Parametro"
            android:label="@string/title_activity_parametro" />
        <activity
            android:name="br.com.pauloceami.cursoappvendas.versaofinal.Principal.Dashboard"
            android:label="@string/title_activity_dashboard" />
        <activity
            android:name="br.com.pauloceami.cursoappvendas.versaofinal.Json.ExecutaImports"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name="br.com.pauloceami.cursoappvendas.versaofinal.Json.ExecutaExports"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name="br.com.pauloceami.cursoappvendas.versaofinal.Controllers.RecyclerViewCliente"
            android:label="@string/title_activity_recycler_view_cliente" />
        <activity
            android:name="br.com.pauloceami.cursoappvendas.versaofinal.Controllers.Lista_clientes"
            android:label="@string/title_activity_lista_clientes" />
        <activity
            android:name="br.com.pauloceami.cursoappvendas.versaofinal.Controllers.AdministraCliente"
            android:label="@string/title_activity_administra_cliente" />
        <activity
            android:name="br.com.pauloceami.cursoappvendas.versaofinal.Controllers.VenderProdutos"
            android:label="@string/title_activity_vender_produtos" />
        <activity
            android:name="br.com.pauloceami.cursoappvendas.versaofinal.Controllers.Lista_produtos"
            android:label="@string/title_activity_lista_produtos" />
        <activity
            android:name="br.com.pauloceami.cursoappvendas.versaofinal.Controllers.ConfPagamento"
            android:label="@string/title_activity_conf_pagamento" />
        <activity
            android:name="br.com.pauloceami.cursoappvendas.versaofinal.Controllers.ListaPedidosClientes"
            android:label="@string/title_activity_lista_pedidos_clientes"
            android:theme="@style/AppTheme" />
        <activity
            android:name="br.com.pauloceami.cursoappvendas.versaofinal.Controllers.BaixaContasReceber"
            android:label="@string/title_activity_baixa_contas_receber"
            android:theme="@style/AppTheme"></activity>

    </application>

</manifest>